body {
    background-color: #513ff0;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;

}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow:  3px 3px 10px rgba(0, 0, 0, 0.432);

}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

input#btnverif {
    color: rgb(0, 0, 0);
    font: normal 13pt arial;
    background-color: #38f7a7;
    border-radius: 3px;
    border-color: rgb(65, 64, 64);
    box-shadow: 3px 3px 10px rgb(71, 73, 71);
    width: 100px;
    height: 50px;
    margin-left: 200px;
}